@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
  margin: 0;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 45%, rgba(11,5,89,1) 100%);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

h1 {
  font-family: "VT323", monospace;
  font-size: 70px;
  letter-spacing: 2px;
  color: #fce149;
  text-shadow: 2px 2px 4px #849685;
}

video {
  width: 300px;
  border-radius: 25px;
  box-shadow: 2px 2px 4px #849685;
  margin-bottom: 25px;
}

.playerInput {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 15px;
  font-family: "VT323", monospace;
  font-size: 20px;
  color: #fce149;
  letter-spacing: 1px;
}

.playerInput label {
  margin-bottom: 5px;
  font-size: 24px;
  color: #fce149;
}

.playerInput input {
  background-color: #2b2b2bc9;
  color: #ffffff;
  border: 1px solid #849685;
  padding: 8px;
  border-radius: 5px;
  font-family: "VT323", monospace;
  font-size: 18px;
  width: 180px;
  box-shadow: 2px 2px 4px #849685;
  transition: background-color 0.3s ease;
}

.playerInput input::placeholder {
  color: #7f7f7f;
}

.playerInput input:focus {
  background-color: #3c3c3c;
  outline: none;
}

.button {
  width: 150px;
  color: rgb(240, 240, 240);
  font-size: 20px;
  font-family: "VT323", monospace;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 7px;
  margin-top: 30px;
  border-radius: 15px;
  box-shadow: 2px 2px 4px #849685;
  cursor: pointer;
  transition: 0.4s ease;
}

.button:hover, .button:active {
  font-size: 21px;
  transform: scale(1.10);
  box-shadow: 5px 3px 3px #849685;
}

#start-btn {
  background-color: #0a9f58;
}

#start-btn:hover, #start-btn:active {
  background-color: #00cf94;
}

#play-again-btn {
  background-color: #e86262;
}

#play-again-btn:hover, #play-again-btn:active {
  background-color: #ea3434;
}

#play-again-btn-win {
  background-color: #d101ca;
}

#play-again-btn-win:hover, #play-again-btn-win:active {
  background-color: #fd66f8;
}

#game-box {
  width:600px;
  height:400px;
  position: relative; /* allows elements to be absolute-positioned within the game-box */
  overflow: hidden;
  user-select: none; /* avoids click effects */
  background-image: url(../assets/nasa-space.jpg);
  background-position: center;
  background-size: cover;
  border: 1px solid #fce149;
  border-radius: 25px;
  margin: 20px;
}

#time-display {
  position: absolute;
  top: 10px;
  left: 15px;
  font-size: 30px;
  font-weight: 600;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}

#counters-container {
  display: flex;
  gap: 10px;
  position: absolute;
  top: 10px;
  right: 230px; /* depends on life-bar width */
}

#crashes-counter, #towel-counter {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #3c3c3cc9;
  padding: 5px;
  border-radius: 5px;
  width: 60px;
}

#spaceship-icon, #towel-icon {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

#total-collisions, #total-towels {
  font-size: 24px;
  font-weight: 600;
  color: #fce149;
  font-family: 'Courier New', Courier, monospace;
}

#life-bar-container {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 200px;
  height: 20px;
  background-color: #3c3c3cc9;
  border: 1px solid #b9b9b9;
  border-radius: 10px;
}

#life-bar {
  height: 100%;
  width: 100%;
  background-color: rgb(255, 0, 0);
  border-radius: 10px;
}

#score-display {
  font-family: "VT323", monospace;
  font-size: 27px;
  color: #fce149;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  margin-top: 50px;
  padding: 10px 20px;
  border: 2px solid #fce149;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 1px 1px 42px #849685;
}

#player-total-score, #winner-total-score {
  font-size: 42px;
  color: #00ff00;
  text-shadow: 1px 1px 3px #000000;
  margin-left: 10px;
}

#game-screen, #end-screen, #win-screen {
  display: none;
}

#counters-container, #time-display, #life-bar {
  z-index: 2;
}

.top-scores-display h3 {
  font-family: "VT323", monospace;
  font-size: 30px;
  text-align: center;
  color: #f5f5f5;
  margin-top: 50px;
}

#high-scores-list, #high-scores-list-win {
  list-style-type: none;
  /* align-content: center; */
  text-align: center;
  padding: 10px;
  margin-top: 25px;
  box-shadow: 1px 1px 10px #849685;
  border-radius: 25px;
}

#high-scores-list li, #top-scores-display-end li, #top-scores-display-win li, #high-scores-list-win li {
  margin: 10px;
  font-family: "VT323", monospace;
  font-size: 25px;
  color: #f5f5f5;
  /* background-color: #333; */
  border-width: 5px;
  border-image: linear-gradient(45deg, #ff0000, #ff7f00, #ffff00, #00ff00, #0000ff, #4b0082, #8b00ff);

  padding: 10px;
  border-radius: 5px;
}