body {
  margin: 0;
  background-color: #424242;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

video {
  border-radius: 25px;
  width: 250px;
  box-shadow: 4px 2px 2px #849685;
}

button {
  background-color: #3075ff;
  color: white;
  width: 150px;
  font-size: 13;
  font-family: sans-serif;
  font-weight: 500;
  text-shadow: 1px 1px 1px #fce149;
  letter-spacing: 3px;
  padding: 13px;
  margin-top: 30px;
  border-radius: 25px;
  box-shadow: 4px 2px 2px #849685;
  cursor: pointer;
  transition: transform 0.4s ease, background-color 0.3s ease;
}

button:hover {
  transform: scale(1.10);
  background-color: #0045cf;
}

button:active {
  transform: scale(0.90);
  background-color: #0045cf;
}

#play-again-btn {
  background-color: #ee9938;
}

#play-again-btn:hover, #play-again-btn:active {
  background-color: #d75306;
}

#play-again-btn-win {
  background-color: #fd66f8;
}

#play-again-btn-win:hover, #play-again-btn-win:active {
  background-color: #d101ca;
}

#game-box {
  background-color: #424242;
  width:600px;
  height:400px;
  position: relative; /* allows elements to be absolute-positioned within the game-box */
  overflow: hidden;
  user-select: none; /* avoids click effects */
  
  background-image: url(../assets/space-box-4-darker.jpg);
  background-position: center;
  background-size: cover;
  
  border-radius: 25px;
  margin: 25px;
  box-shadow: 4px 2px 2px #849685;
}

#time-display {
  position: absolute;
  top: 10px;
  left: 15px;
  font-size: 30px;
  font-weight: 600;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}

#life-bar-container {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 200px;
  height: 20px;
  background-color: #ffffff;
  border: 2px solid #909090;
  border-radius: 10px;
}

#life-bar {
  height: 100%;
  width: 100%;
  background-color: rgb(255, 0, 0);
  border-radius: 10px;
}

#game-screen, #end-screen, #win-screen {
  display: none;
}